<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ricerkit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RicerKit"
        android:usesCleartextTraffic="true">
        <activity android:name=".FullScreenView"></activity>
        <activity android:name=".storecinnamom" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SearchResult" />
        <activity android:name=".storegnome" />
        <activity android:name=".storexfce" />
        <activity android:name=".storekde" />
        <activity android:name=".AppContentsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>